<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <style media="screen">

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<body >
<div class="container ">
  <div class="panel panel-primary">
    <div class="panel-heading mb-5">
      <h6 class="panel-title text-uppercase" style="margin-left:330px; margin-bottom:-1px;">{{halls.name}}</h6>
       <p class="mt-2 text-center " style="margin-left:320px;">Supervisor : {{halls.supervisor}}</p>
    </div>
    <div class="container">
      <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="" />
      </div>
      <div class="table-responsive">
        <table class="table table-bordered text-center">

            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                
                  <tr class="bg-light-gray ">
                    <th class="text-uppercase text-center">Day</th>
                    <th class="align-middle  text-center">08:30 - 10:30</th>
                    <th class="align-middle text-center">10:30 - 12:30</th>
                    <th class="align-middle text-center">12:30 - 02:00</th>

                  </tr>
                </thead> 
                <tbody>
                  {% for i in halls.get_days %}
                  <tr>
                    <th class=" text-center p-5">{{i.day}}</th>
                    {% if i.lecture_one %}
                    <td style="margin-left:55px;">
                        <span
                          >{{i.lecture_one}}</span
                        >
                        <div class="margin-10px-top font-size14"> {{i.start_lect_one}} - {{i.end_lect_one}}</div>
                        <div class="font-size13 text-light-gray">by {{i.lect_one_given_by}} </div>
                      </td>
                      {% else %}
                      <td style="margin-left:55px;">
                        <span
                          ></span
                        >
                        <div class="margin-30px-top font-size14">   -   </div>
                        <div class="font-size13 text-light-gray"></div>
                      </td>
                    {% endif %}
                    {% if i.lecture_tow %}
                    <td style="margin-left:55px;">
                        <span
                          >{{i.lecture_tow}}</span
                        >
                        <div class="margin-10px-top font-size14">{{i.start_lect_tow}}-{{i.end_lect_tow}}</div>
                        <div class="font-size13 text-light-gray">by {{i.lect_tow_given_by}}</div>
                      </td>
                      {% else %}
                      <td style="margin-left:55px;">
                        <span
                          ></span
                        >
                        <div class="margin-10px-top font-size14">   -   </div>
                        <div class="font-size13 text-light-gray"></div>
                      </td>

                    {% endif %}

                    {% if i.lecture_three %}
                    <td style="margin-left:55px;">
                        <span
                          >{{i.lecture_three}}</span
                        >
                        <div class="margin-10px-top font-size14">{{i.start_lect_three}}-{{i.end_lect_three}}</div>
                        <div class="font-size13 text-light-gray">by {{i.lect_three_given_by}}</div>
                      </td>
                      {% else %}
                      <td style="margin-left:55px;">
                        <span
                          >            </span
                        >
                        <div class="margin-10px-top font-size14">   -  </div>
                        <div class="font-size13 text-light-gray">    </div>
                      </td>
                      

                    {% endif %}
                    

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--


  
  -->
</div>
</body>

</html>